<div align="center"> 

# Gini Decomposition

<div align="center">

## [S. Mussard](https://sites.google.com/view/cv-stphane-mussard/accueil "Homepage")

</div>

In [ ]:
#pip install PrettyTable torch

In [ ]:
import pandas as pd
pd.options.display.float_format = '{:.4f}'.format

In [4]:
from Gini_decomp_weight import GiniDecomposition

# Example dataset
df = pd.DataFrame({
    "income": [2000, 2500, 3000, 3500, 4000, 4500],
    "group": ["A", "A", "B", "B", "C", "C"],
    "weight": [1.2, 0.8, 1.0, 1.0, 0.9, 1.1]
})

In [5]:
model = GiniDecomposition(alpha=2)
model.fit(data=df, value="income", group="group", weight="weight")
# Show summary
model.summary()

+-----------------------------------+-----------+
|  Gini decomposition: 2 components |   Index   |
+-----------------------------------+-----------+
|      Gini within groups (Gw)      |   0.0019  |
|     Gini between groups (Ggb)     |   0.0722  |
|       Gini total (Gw + Ggb)       |   0.0741  |
|        Gini total (verif.)        |   0.0741  |
+-----------------------------------+-----------+
+-----------------------------------+-----------+
|  Gini decomposition: 3 components |   Index   |
+-----------------------------------+-----------+
|      Gini within groups (Gw)      |   0.0019  |
|   Gini net between groups (Gnb)   |   0.0722  |
|      Gini transvariation (Gt)     |   0.0000  |
|     Gini total (Gw + Gnb + Gt)    |   0.0741  |
+-----------------------------------+-----------+

Matrix of between-group Gini indices G_gh:

Weighted Gini indices p^g*s^g*G_gg:

Matrix of Distances D_gh:

===================================================
                Summary Table
===================================================
Groups         Means          Size           Gini
---------------------------------------------------
A              0.1535         0.3333         0.0124
B              0.3350         0.3333         0.0059
C              0.5797         0.3333         0.0034

===================================================